.st0 {
  fill: #e6e6e6;
}

.st1 {
  fill: #e6e67a;
}

.st2 {
  fill: #5cc069;
}

.st3 {
  fill: #ffba00;
}

.st4 {
  fill: url(#SVGID_1_);
}

.st5 {
  fill: #f09400;
}

.st6 {
  fill: #ff8b00;
}

.st7 {
  fill: #404040;
}

.st8 {
  fill: #c4c4c4;
}

.st9 {
  fill: #ffffff;
}

.st10 {
  fill: #474747;
}

.st11 {
  fill: #d4085e;
}

.st12 {
  fill: #e9ffff;
}
