.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: #B3B3B3;
}

.st2 {
  clip-path: url(#SVGID_2_);
  fill: #E6E6E6;
}

.st3 {
  fill: #FF0000;
}

.st4 {
  clip-path: url(#SVGID_4_);
}

.st5 {
  fill: #E6E6E6;
}

.st6 {
  fill: none;
  stroke: #666666;
  stroke-width: 4.0369;
  stroke-miterlimit: 10;
}

.st7 {
  fill: none;
  stroke: #666666;
  stroke-width: 6.0553;
  stroke-miterlimit: 10;
}

.st8 {
  fill: none;
  stroke: #666666;
  stroke-width: 1.8687;
  stroke-miterlimit: 10;
}

.st9 {
  fill: none;
  stroke: #666666;
  stroke-width: 3.3275;
  stroke-miterlimit: 10;
}